{% extends 'tienda/base.html' %}

{% block content %}
	<h2>Bienvenido al listado de los productos</h2>
	<table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Unidades</th>
            <th>Acciones</th>
        </tr>
			{% for producto in productos %}
			<tr>
				<td>{{producto.nombreProducto}}</td>
				<td>{{producto.precio}}</td>
				<td>{{producto.modelo}}</td>
				<td>{{producto.marca}}</td>
				<td>{{producto.unidadesProducto}}</td>
				<td><a href="{% url 'checkout' pk=producto.pk %}"></a><button type="button"  class="btn btn-warning">Comprar</button></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
