{% extends 'tienda/base.html' %}

{% block lista %}
    <h1 id="titulo">Listado de Productos</h1>
    <div class="">
        {% for producto in productos %}
            <div class="">
                <div>
                    {{ producto.nombreProducto }}
                    {{ producto.marca }}
                    {{ producto.modelo }}
                </div>
                {{ producto.precio }}€
                <div class="BotonesTarjetas">
                    <a href="{% url 'productoCompra' pk=producto.pk%}"><button type="button" class="btn btn-danger">Comprar</button></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}