{% extends 'tienda/base.html' %}

{% block content %}
	<h2>Bienvenido al listado de los productos</h2>
	<table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Unidades</th>
            <th>Acciones</th>
        </tr>
			{% for producto in productos %}
			<tr>
				<td>{{producto.nombreProducto}}</td>
				<td>{{producto.precio}}</td>
				<td>{{producto.modelo}}</td>
				<td>{{producto.marca}}</td>
				<td>{{producto.unidadesProducto}}</td>
				<td><a href="{% url 'eliminarProducto' pk=producto.pk %}"><button type="button" class="btn btn-danger">Eliminar</button></a>
					<a href="{% url 'editarProducto' pk=producto.pk'}"><button type="button"  class="btn btn-warning">Editar</button> </a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
